# Ignore gradle stuff
.gradle
build
# Ignore MacOS Stuff
.DS_Store
# Ignore Eclipse Stuff
.project
.settings
.classpath
# Ignore generated output
*.ulx
symbols.txt
codedump.txt
strings.txt
asmFiles/test.asm
ggcom-stuff
bin
